---
import "../server/websocket"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro Sidecar(s)</h1>

		<hr />

		<h2>Data from the WebSocket server (ws://localhost:5000)</h2>
		<pre id="ws">Awaiting message…</pre>
	</body>
</html>

<script>
	/* === WEB SOCKET === */
	//
	import { io } from "socket.io-client";

	let ioClient: ReturnType<typeof io> | undefined;
	const wsUrl = new URL(origin);
	if(wsUrl.port){
		wsUrl.port = (+wsUrl.port + 1).toString()
	}

	try {
		ioClient = io(wsUrl.toString());
	} catch (e) {
		console.error(e);
	}

	if (ioClient) {
		ioClient.on("seq-num", (msg) => {
			console.info(msg);

			const wsResult = document.querySelector("pre#ws")!;
			wsResult.innerHTML = `seq-num: ${JSON.stringify(msg)}`;
		});
	}
</script>

<style>
	body {
		padding: 10vw;
		background-color: midnightblue;
		color: white;
		font-family: system-ui;
	}
</style>
